################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/28a2d4aa8fce09ad/SIERPINSKITRIANGLE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/500ebbfa5ce5119e/VERTEXBUFFER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/95cffdc5796b57ab/MAIN.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b3698eaf80b249ab/SHADER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/db876e3e176498de/WINDOW.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/28a2d4aa8fce09ad/SIERPINSKITRIANGLE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/500ebbfa5ce5119e/VERTEXBUFFER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/95cffdc5796b57ab/MAIN.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b3698eaf80b249ab/SHADER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/db876e3e176498de/WINDOW.ipch
/FractalTest/.vs/FractalTest/v17/ipch/a2d66ad0339edc55.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/13af561e729aaf40/SHEETMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/16e2d4bd63b035fd/CLIPBOARD.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/28a2d4aa8fce09ad/SIERPINSKITRIANGLE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/2e6e386d51d16d28/COMBOBOX.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/3b973c798e256a58/GUIMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/49ceda7412d883e2/TEXTSTORAGE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/4a8bbed929cf4874/INPUT_MANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/4aab1a8f99f6e6ba/GL_VERTEX.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/500ebbfa5ce5119e/VERTEXBUFFER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/509fae624f558268/ARROWBOARD.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/66ed1682805f7644/PINGUI.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/6d88c4538366ab74/WINDOWTAB.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/7862eec9b8b049c1/IMGUI.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/7b3ace2ea7b6bf7f/BUTTON.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/7fd7b10e5e34243d/IMGUI_IMPL_OPENGL3.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/866a69de87f05473/BUTTON.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/8701bd66da6fed58/SHADER_PROGRAM.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/8dca6a8c98f92d94/GUIMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/933480f6edb38d46/TEXTSTORAGE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/95cffdc5796b57ab/MAIN.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/9bc54fe4768bb433/COMBOBOXITEM.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/a2e89df0f2fa872d/IMGUI_TABLES.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/a33711c1a2a714c8/TEXTMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/abd1b6bac3c06c31/BINARY_TO_COMPRESSED_C.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/ad26a7f40085435b/TEXT.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b3698eaf80b249ab/SHADER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b67a2179fce1d8f4/SHEETMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b968f9ad72d87e4a/CAMERAMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/bce8368e7bf7370d/IMGUI.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/c591b6c88b65ee1a/IMGUI_DRAW.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/db876e3e176498de/WINDOW.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/e911cd2cfe4c2621/SCROLLER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/f75c14c2764d1265/CROPMANAGER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/fad4e33937de2e84/ARROWBOARD.ipch
