################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/28a2d4aa8fce09ad/SIERPINSKITRIANGLE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/500ebbfa5ce5119e/VERTEXBUFFER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/95cffdc5796b57ab/MAIN.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b3698eaf80b249ab/SHADER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/db876e3e176498de/WINDOW.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/28a2d4aa8fce09ad/SIERPINSKITRIANGLE.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/500ebbfa5ce5119e/VERTEXBUFFER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/95cffdc5796b57ab/MAIN.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/b3698eaf80b249ab/SHADER.ipch
/FractalTest/.vs/FractalTest/v17/ipch/AutoPCH/db876e3e176498de/WINDOW.ipch
